#titulo{
    background-color: black;
    color: white;
}

body{
    background-image: url("../img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

